@import '~@angular/material/theming';
@include mat-core();
$app-primary: mat-palette($mat-light-blue, 300);
$app-accent: mat-palette($mat-gray, 900);
$app-warn: mat-palette($mat-red);
$custom-app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($custom-app-theme);